<div *ngIf="isVisible" role="search">
  <input type="text"
    [(ngModel)]="searchQuery"
    (ngModelChange)="onSearchChange($event)"
    placeholder="Search for an item"
    class="form-control"
    aria-label="Search for an item">
  
    <div *ngFor="let itemName of filteredItemNames" class="suggestion-item" role="list">
      <div role="listitem">
        {{ itemName }}
        <button (click)="displayItemInfo(itemName)" class="btn btn-info">Info</button>
      </div>
    </div>
    
</div>

<section *ngIf="selectedItem" class="item-info" aria-labelledby="itemInfoHeader">
  <h3 id="itemInfoHeader">{{ selectedItem.name }}</h3>
  <p>Buy Price: <span aria-label="Buy Price">{{ selectedItem.buyPrice | largeNumber }} coins</span></p>
  <p>Sell Price: <span aria-label="Sell Price">{{ selectedItem.sellPrice | largeNumber }} coins</span></p>
</section>
