.form-group {

  input[readonly] {
    background-color: #495057; // Light gray background
    color: #ced4da; // Darker text color for contrast
    border-color: #495057; // Border color that fits with the gray theme

    // Optional: Change the cursor to indicate that the input is not editable
    cursor: not-allowed;

    // To remove the clear button in Internet Explorer on read-only inputs
    &::-ms-clear {
      display: none;
    }
  }
}
